.footer{	
	padding: 20px 0;
	background: #f1f1f2;
	width: 100%;
}

.footer-flex{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-txt{
	text-transform: uppercase;
	color: #000;
	font-weight: 800;
	font-size: 0.8em;
	display: block;
}

.footer-copy{
	font-weight: 300;
	color: #000;
	text-align: center;
	font-size: 0.8em;
	margin: 10px 0;
}

.footer-social{
	margin: 15px 0 0 0;
}

.footer-social a{
	background: #000;
	color: #fff;	
	font-size: 20px;
	float: left;
	width: 40px;
	height: 40px;
	padding: 6px 0 0 0;
	margin: 0 4px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; 	
}

.footer-social a:hover{
	color: #ffd400;
}





/*************************************************************************************************/
@media(min-width:960px){

.footer{	
	padding: 15px 0;
}

.footer-flex{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.footer-txt{
	font-size: 0.9em;
	display: inline-block;
}

.footer-copy{

	font-size: 1em;
	margin: 0;
}

.footer-social{
	margin: 0;
}

.footer-social a{
	background: #000;
	color: #fff;	
	font-size: 20px;
	float: left;
	width: 40px;
	height: 40px;
	padding: 6px 0 0 0;
	margin: 0 4px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; 	
}

.footer-social a:hover{
	color: #ffd400;
}


}